.CurrentHappening section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

.CurrentHappening .groupeditemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    /* This selector is used to prevent ui-dark/light.css from overwriting changes
       to .win-surface. */
    .CurrentHappening .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-bottom: 60px;
        margin-left: 45px;
        margin-right: 115px;
        margin-top: 128px;
    }

    .CurrentHappening .groupeditemslist.win-rtl .win-horizontal.win-viewport .win-surface {
        margin-left: 115px;
        margin-right: 45px;
    }

    .CurrentHappening .groupeditemslist .win-groupheader {
        padding: 0;
    }

    /* Use grid and top level layout for truncation */
    .CurrentHappening .groupeditemslist .group-header {
        -ms-grid-columns: minmax(0, max-content) 7px max-content;
        -ms-grid-rows: max-content;
        display: -ms-inline-grid;
        line-height: 1.5;
    }

    /* Override default button styles */
    .CurrentHappening .groupeditemslist .group-header, .group-header:hover, .group-header:hover:active {
        background: transparent;
        border: 0;
        margin-bottom: 1px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 1px;
        min-height: 0;
        padding: 0;
    }

        .CurrentHappening .groupeditemslist .group-header .group-title {
            display: inline-block;
            color: #ffd458;
            font-size: 32px;
        }

        .CurrentHappening .groupeditemslist .group-header .group-chevron {
            -ms-grid-column: 3;
            display: inline-block;
        }

            .CurrentHappening .groupeditemslist .group-header .group-chevron::before {
                content: "\E26B";
                font-family: 'Segoe UI Symbol';
            }

    .CurrentHappening .groupeditemslist.win-rtl .group-header .group-chevron:before {
        content: "\E26C";
    }

    .CurrentHappening .groupeditemslist .item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 90px;
        display: -ms-grid;
        height: 250px;
        width: 250px;
    }

        .CurrentHappening .groupeditemslist .item .item-image {
            -ms-grid-row-span: 2;
        }

        .CurrentHappening .groupeditemslist .item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 21px;
            display: -ms-grid;
            padding: 6px 15px 2px 15px;
        }

            .CurrentHappening .groupeditemslist .item .item-overlay .item-title {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 220px;
            }

            .CurrentHappening .groupeditemslist .item .item-overlay .item-subtitle {
                -ms-grid-row: 2;
                width: 220px;
            }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .CurrentHappening .groupeditemslist .item .item-overlay {
        background: rgba(0,0,0,0.65);
    }

        .CurrentHappening .groupeditemslist .item .item-overlay .item-title {
            color: rgba(255,255,255,0.87);
        }

        .CurrentHappening .groupeditemslist .item .item-overlay .item-subtitle {
            color: rgba(255,255,255,0.6);
        }
}

@media screen and (-ms-view-state: fullscreen-landscape) and (-ms-high-contrast), screen and (-ms-view-state: fullscreen-portrait) and (-ms-high-contrast), screen and (-ms-view-state: filled) and (-ms-high-contrast) {
    .CurrentHappening .groupeditemslist .item .item-overlay {
        color: WindowText;
    }
}

@media screen and (-ms-view-state: snapped) {
    .CurrentHappening section[role=main] {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .CurrentHappening .groupeditemslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .CurrentHappening .groupeditemslist .win-container {
        margin-bottom: 15px;
        margin-left: 13px;
        margin-right: 35px;
        padding: 7px;
    }

    .CurrentHappening .groupeditemslist.win-rtl .win-container {
        margin-left: 21px;
        margin-right: 26px;
    }

    .CurrentHappening .groupeditemslist .item {
        -ms-grid-columns: 60px 10px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 60px;
        width: 272px;
    }

        .CurrentHappening .groupeditemslist .item .item-image {
            -ms-grid-column: 1;
            -ms-grid-row-span: 1;
            height: 60px;
            width: 60px;
        }

        .CurrentHappening .groupeditemslist .item .item-overlay {
            -ms-grid-column: 3;
            -ms-grid-row: 1;
            -ms-grid-row-align: stretch;
            background: transparent;
            padding: 0;
        }

            .CurrentHappening .groupeditemslist .item .item-overlay .item-title {
                margin-top: 4px;
                width: 202px;
            }

            .CurrentHappening .groupeditemslist .item .item-overlay .item-subtitle {
                width: 202px;
            }

            .CurrentHappening header[role=banner] .logo {
            -ms-grid-column: 4;
            margin-top: 25px;
            float: right;
            display: none;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .CurrentHappening .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 25px;
        margin-right: 95px;
    }

    .CurrentHappening .groupeditemslist.win-rtl .win-horizontal.win-viewport .win-surface {
        margin-left: 95px;
        margin-right: 25px;
    }
}


/*Variable tiles*/


.CurrentHappening .BigTemplate {
    width: 565px;
    height: 100px;
    -ms-grid-columns: 150px 20px 1fr;
    display: -ms-grid;
}

    .CurrentHappening .BigTemplate .BigImage {
        -ms-grid-column: 1;
        height: 100px;
    }

    .CurrentHappening .BigTemplate .BigOverlay {
        -ms-grid-column: 3;
        height: 100px;
    }

        .CurrentHappening .BigTemplate .BigOverlay .BigTitle {
            color: #ffd458;
            font-size: 18.67px;
            font-weight: bold;
            font-family: 'Segoe UI';
        }

        .CurrentHappening .BigTemplate .BigOverlay .BigSubtitle {
            color: #fff;
            font-size: 13.5px;
            font-family: 'Segoe UI';
            margin-top: 10px;
        }


.CurrentHappening .MediumTemplate {
    width: 140px;
    height: 300px;
}

    .CurrentHappening .MediumTemplate .MediumTitle {
        font-family: 'Segoe UI';
        font-size: 23px;
        font-weight: lighter;
        color: #000;
        width: 100px;
        margin-left: 10px;
        padding-top: 195px;
        text-align: left;
        line-height: 25px;
        float: left;
    }

    .CurrentHappening .MediumTemplate .MediumSubtitle {
        font-family: 'Segoe UI';
        font-size: 18px;
        font-weight: lighter;
        color: #000;
        width: 85px;
        padding-top: 8px;
        line-height: 20px;
        text-align: right;
        float: right;
        margin-right: 10px;
    }


.CurrentHappening .SmallerTemplate {
    width: 140px;
    height: 145px;
}


    .CurrentHappening .SmallerTemplate .SmallerSubtitle {
        font-family: 'Segoe UI';
        font-size: 18px;
        font-weight: lighter;
        color: #000;
        width: 100px;
        padding-top: 8px;
        line-height: 20px;
        text-align: right;
        margin-right: 10px;
        float: right;
    }

    .CurrentHappening .SmallerTemplate .SmallerTitle {
        font-family: 'Segoe UI';
        font-size: 23px;
        font-weight: lighter;
        color: #000;
        width: 125px;
        margin-left: 10px;
        padding-top: 35px;
        text-align: left;
        line-height: 25px;
        float: left;
    }


.win-horizontal.win-viewport .win-container {
    background-color: rgba(255, 255, 255, 0.0);
}

.win-vertical.win-viewport .win-container {
    background-color: rgba(255, 255, 255, 0.0);
}

.CurrentHappening header[role=banner] .logo {
    -ms-grid-column: 4;
    margin-top: 25px;
    float: right;
}