<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="41032VigneshSekar.Dr.NGPInstituteofTechnology" Version="1.1.0.2" Publisher="CN=F11668DB-A3F4-46AF-B24A-EAFC277B0908" />
  <Properties>
    <DisplayName>Dr.NGP Institute of Technology</DisplayName>
    <PublisherDisplayName>VigneshSekar</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Dr.NGP Institute of Technology" Description="An Windows application about Dr.NGP institute of technology, Coimbatore" BackgroundColor="#281d39" ForegroundText="light" Square150x150Logo="images\logo.jpg" Square30x30Logo="images\smalllogo.png">
        <m2:DefaultTile Wide310x150Logo="images\widelogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#BCF5A9" Image="images\splashscreen.jpg" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>